<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
   
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Enter Title</label>
        <input name="listing[title]" placeholder="Add a catchy title" type="text"  class="form-control" required />
        <div class="valid-feedback">Title looks good!</div>
      </div>
    
     <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        class="form-control" required
      ></textarea>
      <div class="invalid-feedback">Please enter a short description</div>
     </div>
      
     <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input
      name="listing[image]"
      placeholder="enter image URL/Link"
      class="form-control"
      type="text"
    />
     </div>
     <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="1200" class="form-control" required />
        <div class="invalid-feedback">price should be valid</div>
      </div>
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
        <div class="invalid-feedback">country name should be valid</div>
      </div>
    </div>
      
     <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        placeholder="Jaipur, Rajasthan"
        type="text" class="form-control"
        required
      />
      <div class="invalid-feedback">location should be valid</div>
     </div>
  
      <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
    
    </form>
  </div>
</div>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="POST">
        <input name="listings[title]" placeholder="enter title" type="text">
        <br><br>
        <textarea  name="listings[description]" placeholder="enter description"></textarea>
        <br><br>
        <input type="text"  name="listings[image]" placeholder="enter image URL/link">
        <br><br>
        <input  name="listings[price]" placeholder="enter price" type="number">
        <br><br>
        <input type="text" name="listings[location]" placeholder="enter location">

        <br><br>
        <input type="text" name="listings[country]" placeholder="enter country">
        <br><br>
         <button>Add</button>
    </form>
</body>
</html> -->